// Define variables for your color scheme

// For example:
$red: #B68CB8;
$blue: #0A81D1;
$yellow: #FDB631;
$orange: #6461A0;
$green: #ADBCA5;
$gray: #000000;
$light-gray: #F4F4F4;
$white: rgb(255, 255, 255);
